#Quartus rules
*/db/
*/incremental_db/
*/output_files/
*/simulation/*
*.bak
*.stp
*.wlf
*.qws
*.qdb
*.qpg
*.qtl
*_vmake
*_info
*/build/
example/quartus/build
example/quartus/db
example/quartus/incremental_db
example/hdl/*


# generals
*/build/*
*.pyc

# CaffeModels
*.caffemodel
